@import "./../../../../styles/abstracts/themeSrc";
@import "./../../../../styles/components/buttons";
@import "./../../../../styles/components/textField";

.bookingForm {
  @include Position(relative);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  @include Padding(20px);
  @include borderRadius(20px);
  margin-top: 30px;
  text-align: $textLeft;
  @include breakPoints(767px) {
    margin-bottom: 20px;
  }
  @keyframes animationH2 {
    0% {
      left: -20px;
      opacity: 0.5;
    }
    100% {
      left: 40px;
      opacity: 1;
    }
  }
  .buttonGroupWrapper {
    margin-top: -40px;
    button {
      background-color: $secondaryColor;
      color: $whiteColor;
      @include Padding(10px);
      margin-right: 10px;
      @include Display(inline-block);
      @include borderRadius(4px);
      cursor: pointer;
      @include breakPoints(640px) {
        font-size: 12px;
        @include Padding(8px);
        margin-right: 5px;
      }
    }
    button.selected {
      background: linear-gradient(
        127deg,
        #e5eaff,
        #e6fcfc 39.23%,
        #e6fcf7 74.34%,
        #f5fce6 99.12%
      );
      color: $primaryColor;
    }
  }
  h2 {
    color: $secondaryColor;
    @include Position(relative);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: animationH2;
    opacity: 0;
    font-size: 1.5rem;
    span {
      color: $whiteColor;
    }
  }
  .formWrapper {
    @include Display(flex);
    @include flexDirection(row);
    @include JustifyContent(space-between);
    @include alignItem(baseline);
    @include breakPoints(767px) {
      @include flexDirection(column);
      @include alignItem(center);
    }
    .formGroup {
      @include Width(20%);
      @include breakPoints(767px) {
        @include Width(100%);
      }
    }
  }
  .primaryButton {
    @include borderRadius(5px);
    min-height: 45px;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}

.bookingOneWayForm {
  background: linear-gradient(
    127deg,
    #e5eaff,
    #e6fcfc 39.23%,
    #e6fcf7 74.34%,
    #f5fce6 99.12%
  );
  @include Padding(20px);
  h2 {
    font-size: 1.5rem;
    background: transparent;
    background-clip: text;
    color: $secondaryColor;
    span {
      background: linear-gradient(90deg, #05b9f8 24.32%, #201e53 84.3%);
      background-clip: text;
      color: $transparent;
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  .formWrapper {
    max-width: 700px;
    min-width: 700px;
    @include Margin(0 auto);
    @include Display(flex);
    @include JustifyContent(space-between);
    @include alignItem(baseline);
    @include breakPoints(767px) {
      @include Display(block);
      min-width: auto;
    }
    .formGroup {
      @include Width(100%);
      padding: 0 10px;
    }
  }
  .primaryButton {
    @include breakPoints(767px) {
      @include Width(100%);
    }
  }
}

.mobileWidth {
  @include breakPoints(767px) {
    @include Width(100%);
  }
}
.bookingOneWaySearchResult {
  background: $whiteColor;
  @include Padding(20px);
  @include borderRadius(10px);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.07);
  @include breakPoints(767px) {
    margin: 10px auto;
    @include Width(90%);
  }
  .secondaryButton,
  .primaryButton {
    @include Display(flex);
    background-color: $primaryColor;
    @include JustifyContent(center);
    @include alignItem(center);
    .icon {
      background-color: $whiteColor;
      @include Width(30px);
      @include Height(30px);
      @include borderRadius(50%);
      margin-right: 10px;
    }
    svg {
      @include Width(20px);
      @include Height(20px);
      @include Margin(auto);
      margin-top: 5px;
    }
  }
  .primaryButton{
    background-color: $secondaryColor;
      @include borderRadius(4px);
  }
}
.postYourCarForm {
  background: $blackColor;
  @include Padding(20px);
  @include borderRadius(20px);
  margin: 0 auto;
  @include breakPoints(767px) {
    min-width: auto;
  }
  h3 {
    color: $whiteColor;
  }
  .formWrapper {
    @include Display(block);
    max-width: none;
    min-width: auto;
    .formGroup {
      @include Padding(0);
    }
  }
  p{
    color: $whiteColor;
  }
}
