RewriteEngine On
RewriteRule ^https://sweet-trip-5xoj.vercel.app/cab-services$ /https://sweet-trip-5xoj.vercel.app/cab-services.html [L]
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
