@import "./../../../../styles/abstracts/themeSrc";

.sectionHeader {
  background-image: url("./../../../../public/images/home-banner.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  @include breakPoints(1200px) {
    background-size: cover;
  }
  h1,
  p {
    color: $primaryColor;
  }
  &.homeBanner {
    .flexRow {
      min-height: 500px;
      @include breakPoints(1200px) {
        min-height: 350px;
      }
    }
    @include breakPoints(767px) {
      background-image: url("./../../../../public/images/home-banner.webp");
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &.aboutBanner {
    background-image: url("./../../../../public/images/about-banner.webp");
    background-position: top center;
  }
  &.contactBanner {
    background-image: url("./../../../../public/images/contact-banner.webp");
    background-position: top center;
  }
  &.carBanner {
    background-image: url("./../../../../public/images/car-rental.webp");
    background-position: top center;
    @include breakPoints(767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .flexRow {
      min-height: 500px;
      @include breakPoints(1200px) {
        min-height: 350px;
      }
    }
  }
  &.busBanner {
    background-image: url("./../../../../public/images/bus-banner.webp");
    background-position: top center;
  }
  &.hotelBanner {
    background-image: url("./../../../../public/images/hotel-booking.webp");
    background-position: top center;
  }
  &.tourPackageBanner {
    background-image: url("./../../../../public/images/tour-package.webp");
    background-position: top center;
  }
  .flexRow {
    min-height: 330px;
    @include breakPoints(767px) {
      min-height: 140px;
    }
  }
  h1 {
    font-size: 3rem;
    @include breakPoints(767px) {
      font-size: 2rem;
    }
  }
  p {
    @include Width(50%);
    @include breakPoints(1023px) {
      @include Width(100%);
    }
  }
  .fullWidth {
    @include breakPoints(767px) {
      @include Width(100%);
    }
  }
}
