@import "./../../../../styles/abstracts/themeSrc";

.sectionHeader {
  @include Position(relative);
  background-image: url("./../../../../public/images/home-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  @include breakPoints(767px) {
    background: $primaryColor;
    padding-bottom: 15px;
  }
  &.homeBanner {
    .flexRow {
      min-height: 450px;
      @include breakPoints(1200px) {
        min-height: 350px;
      }
    }
    @include breakPoints(767px) {
      background-image: url("./../../../../public/images/home-banner.png");
      padding-top: 30px;
      padding-bottom: 30px;
    }
    h1,
    p {
      color: $primaryColor;
    }
  }
  &.carBanner {
    background-image: url("./../../../../public/images/about-banner.png");
    background-position: center center;
    @include breakPoints(767px) {
      background: $primaryColor;
    }
  }
  &.busBanner {
    background-image: url("./../../../../public/images/bus-banner.png");
    &:after {
      opacity: 0.4;
    }
    @include breakPoints(767px) {
      background: $primaryColor;
      &:after {
        @include Display(none);
      }
    }
  }
  &.hotelBanner {
    background-image: url("./../../../../public/images/hotel-booking.png");
    @include breakPoints(767px) {
      background: $primaryColor;
      &:after {
        @include Display(none);
      }
    }
  }
  &.tourPackageBanner {
    @include breakPoints(767px) {
      background: $primaryColor;
      &:after {
        @include Display(none);
      }
    }
  }
  .flexRow {
    min-height: 300px;
    @include breakPoints(767px) {
      min-height: 150px;
    }
  }
  h1,
  p {
    color: $whiteColor;
  }
  h1 {
    font-size: 3rem;
    @include breakPoints(767px) {
      font-size: 2rem;
    }
  }
  p {
    @include Width(50%);
    @include breakPoints(1023px) {
      @include Width(100%);
    }
  }
  .fullWidth {
    @include breakPoints(767px) {
      @include Width(100%);
    }
  }
}
